{% extends "base.html" %}

{% block body_tag %}
<body>
    <div class="container">
        <ul>
            <li>
                <div class="container">
                    <a class="" href="">
                        <div class="">
                            <img src="/static/da.jfif" alt="">
                        </div>
                        <div class="">
                            <p>Forza Horizon 4</p>
                            <div>4</div>
                            <div>60/3610</div>
                            <div class="progress" style="height:20px">
                                <div class="progress-bar" style="width:40%;height:20px"></div>
                            </div>

                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="container">
                    <a class="" href="">
                        <div class="">
                            <img src="" alt="">
                        </div>
                        <div class="">
                            <p>Forza Horizon 4</p>
                            <div>4</div>
                            <div>60/3610</div>
                            <div class="progress" style="height:20px">
                                <span>6%</span>
                                <div class="progress-bar" style="width:6%;height:20px"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>
{% endblock %}